#authModal .modal-header{
    background-color: #0f1770;
    color: #fff;
  }
  #authModal .modalBtn{
    text-align: end;
  }
   .btnRed {
    background-color: #de2224;
    box-shadow: 0px 0px 27px 1px rgb(65 193 123 / 55%);
    border: none;
    transition: 0.3s all ease-in-out;
  }
  .btnRed:hover{
    background-color: #de2224;
    box-shadow: 0px 0px 27px 1px rgb(65 193 123 / 55%);
    border: none;
    transform: translateY(-3px);
  }
  #authModal input,
  .logincard input{
    width: 100%;
    font-size: 15px;
    color: #767676;
    font-weight: 600;
    border: 0px;
    padding: 13px 24px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-family: inherit;
    margin-bottom: 14px;
    height: 50px;
  }
  #authModal .form-group label,
  .logincard label{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
  }
  .form-control:focus{
      box-shadow: none;
  }
  .navbar-brand img{
      max-width: 245px;
  }
  .logincard{
    position: absolute;
    width: 30%;
    top: 53.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border: none;
    box-shadow: 2px 2px 11px -3px #7d7b7b;
  }
  .logincard .card-header{
    padding: 0;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 15px;
    border: none;
  }

  /* admin */
  #topSidebar{
    height: 57px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  */

  @media only screen and (max-width:1024px){
    .logincard {
        width: 45%;
    }
  }
  @media only screen and (max-width:540px){
    .logincard {
        width: 50%;
    }
  }
  @media only screen and (max-width:414px){
    .logincard {
        width: 75%;
    }
  }
  @media only screen and (max-width:375px){
    .logincard {
        width: 85%;
    }
  }